# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so

# Virtual environments
.venv/
venv/
env/

# PyInstaller
build/
dist/

# IDE
.vscode/
.idea/

# Windows
Thumbs.db
Desktop.ini

# Project specific
*.exe
